html,
body {
  width: 100%;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
}

.textInput {
  min-width: 250px;
}

.join {
  margin: auto;
  align-self: center;
}
